beautifulsoup4==4.11.1
git+https://github.com/Rapptz/discord.py.git#egg=discord.py
InquirerPy==0.3.3
jsonschema==4.6.0
python-dotenv==0.20.0
randomtimestamp==2.2
requests==2.27.1
rss_parser==0.2.3
topggpy==1.4.0
